.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.column {
    flex: 1;
    margin: 10px;
    padding: 15px;
    background: #eff3f8;
    border-radius: 8px;
}
label {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
}